.carousel-container {
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    margin-bottom: 2rem; /* Adjust the spacing between the carousel and text */
  }
  
  .carousel-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    background-color: #f0f0f0; /* Adjust the border color */
    z-index: -1; /* Move the border behind the carousel images */
  }
  

 